<h1>Med's Info:</h1>

<p>Medicine Name: <%= @medicine.name %></p>

<p>Description: <%= @medicine.description %></p>

<p>Start Time: <%= @medicine.start_time %></p>

<p>Quantity: <%= @medicine.quantity %></p>

<p>Frequency: <%=  distance_of_time_in_words @medicine.frequency %></p>
<br>
<br>
<%= link_to "Edit Medicine", edit_medicine_path %>
<br>
<br>
<%= button_to "Delete", medicine_path(@medicine), :method => :delete  %>
<br>
<br>

<%= link_to "Back to Medicine List", client_medicines_path(@client.id) %>