<div class="center">
<h1>Med's Info:</h1>
</div>
<div class="center form border">
<p>Medicine Name: <%= @medicine.name %></p>

<p>Description: <%= @medicine.description %></p>

<p>Start Time: <%= @medicine.start_time %></p>

<p>Quantity: <%= @medicine.quantity %></p>

<p>Frequency: <%=  distance_of_time_in_words @medicine.frequency %></p>
</div>

<div class="center">
<%= link_to "Edit Medicine", edit_medicine_path %>
</div>

<div class="center">
<%= button_to "Delete Medicine", medicine_path(@medicine), :method => :delete  %>
</div>

<div class="center">
<%= link_to "Back to Medicine List", client_medicines_path(@client.id) %>
</div>