<div class="center">
<h3>User Sign Up:</h3>
</div>
<div class="center form border">

<%= form_for @user do |f|%>

	<%= f.text_field :name, placeholder: "Full name", autofocus: true %>
	<%= f.text_field :username, placeholder: "Email" %>
	<%= f.password_field :password, placeholder: "Password" %>

	<%= f.submit("Submit") %>
	
<% end %>
</div>
<div class="center">
<%= link_to "Back Home", root_path %>
</div>