<div class="center">
<h1>Update Your Client's Info</h1>
</div>
<div class="center border">
<%= form_for @client do |f|%>

	<%= f.label :client %>
	<%= f.text_field :name, placeholder: "Full Name", autofocus: true %>
	<%= f.label :phone_number %>
	<%= f.text_field :phone_number, placeholder: "ie: (888) 888-8888" %>

	<%= f.label :relationship_to_client %>
	<%= f.select :relationship, [['Client', 'Client'], ['Family', 'Family'], ['Friend', 'Friend'], ['Self', 'Self']] %>

	<%= f.submit("Submit") %>
<% end %>
</div>
<div class="center">
<%= link_to "Back to Client's Info Page", client_path(@client) %>
</div>