<div class="center">
<h1>Add your client's information:</h1>
</div>
<div class="center border">
<%= form_for([@user, @client], url: user_clients_path) do |f|%>

	<%= f.label :client %>
	<%= f.text_field :name, placeholder: "Full Name", autofocus: true %>

	<%= f.label :phone_number %>
	<%= f.text_field :phone_number, placeholder: "ie: (888) 888-8888" %>

	<%= f.label :relationship_to_client %>
	<%= f.select :relationship, [['Client', 'Client'], ['Family', 'Family'], ['Friend', 'Friend'], ['Self', 'Self']] %>

	<%= f.submit("Submit") %>
<% end %>
</div>
<!-- link_to "Back to my clients", user_clients_path(@client.id) %> -->
<div class="center">
<%= link_to "Sign Out", logout_path, :method => :delete %>
</div>

