<h1>Med Reminder</h1>


<h3>Sign in:</h3>
<%= form_tag(login_path) do |f|%>

	<%= f.text_field :username, placeholder: "Email", autofocus: true %>
	<%= f.text_field :password, placeholder: "Password" %>
	<%= binding.pry %>
	<%= f.submit("Sign in") %>
	
<% end %>
<br>
<%= link_to "Don't have an account? Create one!", new_user_path %>
<br>
<br>
<%= link_to "About Med Reminder", site_about_path %>