
<div class="center">
<h1>Welcome to Med Reminder!</h1>
</div>

<div class="center">
<h3>Sign In:</h3>
<%= form_tag(login_path) do |f|%>

	<%= f.text_field_tag :username, placeholder: "Email" %>
	<%= f.text_field_tag :password, placeholder: "Password" %>
	
	<%= f.submit("Sign in") %>
	
<% end %>
</div>
<div class="center">
<%= link_to "Don't have an account? Create one!", new_user_path %>
</div>
<div class="center">
<%= link_to "About Med Reminder", site_about_path %>
</div>